@import 'holo-base-elements.css';
@import 'holo-base-widgets.css';
@import 'holo-dark-elements.css';
@import 'holo-dark-widgets.css';
@import 'roboto.css';
@import 'elements.less';

body {
  font-family:'Helvetica', 'Arial', 'Sans serif';
  padding: 0;
}
.hidden {
  display: none;
}
.settings {
  color:#000;
}
.search, #waiting-modal {
  .modal {
    color:#000;
  }
}
#nearby-games .selected{
  background-color: #006dcc;
  color:white;
}
.home-view {
  text-align: center;
  button {
    width: 45%;
  }
  .row {
  }
  .modal {
    color:#000;
  }
}
.container {
  max-width: 500px;
}
.join-game {
  background-color: whitesmoke;
  padding: 0px 0px 5px 0px;
  margin: 20px 10px 20px 10px;
  .rounded( 5px );
}
.player-whitecard {
  background-color: #FFF;
  color:#000;
  width:150px;
  height:200px;
  margin-right:10px;
  margin-bottom:10px;
  float:left;
  padding: 15px;
  .rounded( 5px );
}
.blackcard {
  background-color: #000;
  color:#FFF;
  width:150px;
  height:200px;
  margin-right:10px;
  margin-bottom:10px;
  float:left;
  padding: 15px;
  .rounded( 5px );
}
@media screen and (max-width: 373px) {
  h1 {
    font-size: 25px;
  }
  .btn-large {
    font-size: 14px;
  }
}