@import 'holo-base-elements.css';

@import 'holo-base-widgets.css';

@import 'holo-dark-elements.css';

@import 'holo-dark-widgets.css';

@import 'roboto.css';
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
body {
  font-family: 'Helvetica', 'Arial', 'Sans serif';
  padding: 0;
}
.hidden {
  display: none;
}
.headerTitle {
  float: left;
  width: 80%;
}
.headerInfoBtn {
  float: left;
  width: 20%;
  line-height: 50px;
}
.navbar {
  height: 55px;
}
#players-list {
  margin-top: -20px;
}
#players-list ul {
  list-style: none;
}
#players-list li {
  background-color: white;
  color: black;
  display: inline-block;
  padding: 6px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: solid 1px #d4d4d4;
  border-left: solid 1px #d4d4d4;
  border-right: solid 1px #d4d4d4;
  border-bottom: solid 1px #d4d4d4;
}
#players-list li.isCzar {
  background-color: black;
  color: white;
}
#players-list li.hasPlayed {
  background-color: #CCC;
}
.settings,
.modal {
  color: #000;
}
#nearby-games .selected {
  background-color: #006dcc;
  color: white;
}
.home-view {
  text-align: center;
}
.home-view button {
  width: 45%;
}
.container {
  max-width: 500px;
}
.join-game {
  background-color: whitesmoke;
  padding: 0px 0px 5px 0px;
  margin: 20px 10px 20px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.player-whitecard {
  background-color: #FFF;
  color: #000;
  width: 150px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  padding: 15px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.blackcard {
  background-color: #000;
  color: #FFF;
  width: 150px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: inline-block;
}
@media screen and (max-width: 373px) {
  h1 {
    font-size: 25px;
  }
  .btn-large {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .modal {
    top: 20px;
    margin: 0 0 0 -280px;
    left: 50%;
    position: fixed;
  }
}
