@import 'holo-base-elements.css';
@import 'holo-base-widgets.css';
@import 'holo-dark-elements.css';
@import 'holo-dark-widgets.css';
@import 'roboto.css';
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
body {
  padding: 0;
}
.hidden {
  display: none;
}
.settings {
  color: black;
}
.search .modal,
#waiting-modal .modal {
  color: black;
}
#nearby-games .selected {
  background-color: #006dcc;
  color: white;
}
.home-view {
  text-align: center;
}
.home-view button {
  width: 45%;
}
.home-view .modal {
  color: black;
}
.container {
  max-width: 500px;
}
.join-game {
  background-color: whitesmoke;
  padding: 0px 0px 5px 0px;
  margin: 20px 10px 20px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media screen and (max-width: 373px) {
  h1 {
    font-size: 25px;
  }
  .btn-large {
    font-size: 14px;
  }
}
