<div class="modal hide fade" id="info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Info</h3>
  </div>
  <div class="modal-body">
	<section id="welcome">
		<h3>Welcome Game Off 2012 Participants</h3>
		<p>Take some time to play a game with 2 or more of your friends, or find a game active in your current area!</p>
	</section>
	<section id="about">
		<h3>About Cards Against Humanity</h3>
		<p>This site was designed and developed by Collin Forrester and Mitch Barry.</p>
		<p>Please take a look at the source that can be found on <a href='https://github.com/forrestberries/game-off-2012'>Github</a>.</p>
	</section>
	<section id="instructions">
		<h3>How To Play</h3>
		<p>The full instructions can be found <a href='http://s3.amazonaws.com/cah/CAH_Rules.pdf'>here</a> (PDF). The main concept is that each player *pulls* cards from the pile and *pushes* the best card to complete the Card Czar's fill in the blank or question card.</p>
	</section>
  </div>
  <div class="modal-footer">
      <button class="btn-primary" id="closed" data-dismiss="modal" aria-hidden="true">OK</button>
  </div>
</div>