<div class="modal hide fade" id="info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Info</h3>
  </div>
  <div class="modal-body">
	<section id="welcome">
		<h3>Welcome Game Off 2012 Participants</h3>
		<p>Here is a paragraph about something</p>
		<p>Here is another. Yep. Welcome dudes.</p>
	</section>
	<section id="about">
		<h3>About Cards Against Humanity</h3>
		<p>This site was designed and developed by Collin Forrester and Mitch Barry.</p>
	</section>
	<section id="instructions">
		<h3>How To Play</h3>
		<p>Paste in instructions here.</p>
	</section>
  </div>
  <div class="modal-footer">
      <button class="btn-primary" id="closed" data-dismiss="modal" aria-hidden="true">OK</button>
  </div>
</div>