<table class='table table-hover'>
    <thead>
      <tr>
        <th>Name</th><th>Round</th><th>Players</th><th>Proximity</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(games.toJSON(), function(game, id) { %>
        <tr class="props joinableGame" data-id=<%= game.id %>>
          <td data-prop="name"><%= game.id %></td>
          <td data-prop="round"><%= game.currentRound %></td>
          <td data-prop="playerCount"><%= game.players.length %></td>
          <td data-prop="proximity"><%= game.miles + ' mi' %></td>
        </tr>
      <% }); %>
    </tbody>
</table>